<h1>Edit Identity</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.identity_path(@conn, :update, @identity)) %>

<span><%= link "Back", to: Routes.identity_path(@conn, :index) %></span>
